#datepicker {
  margin:0;
  padding:0;
  margin-top:.2em;
  margin-bottom: 1em;

  width: 100%;
}
#datepicker ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;

  flex-direction: row ;
}
#datepicker li {
    width: auto;
    display: block;
    flex-grow: 1;

    padding: .2em;
    padding-left: .4em;
    font-size: 95%;
    /*box-sizing: border-box;*/
    margin:1px;
    border: solid 1px black;

    cursor: pointer;

    /*overflow: hidden;*/
}
#datepicker li:hover {
   background-color: #D4A190;
}
#ngrams   {
  width: 100%;
}
#ngrams div  {
  margin-bottom: .7em;
  text-align: justify;
}
#ngrams span {
  padding: .2em;
  padding-right: .5em;
  padding-left: .5em;
  cursor: pointer;
}
#ngrams span:hover {
  background-color: #2ca25f;
}
#ngrams h3 {
  margin: 0;
  padding: 0;
  display: inline;
  margin-right: 1.5em;
}
li.week.selected {
  background-color: red;

}
