body {
  margin-left: 3em;
  margin-right: 3em;
  margin-top: 1em;
}

#doodle {
  font-size: 150px;
  font-family: 'Permanent Marker', cursive;
  margin:0;
  text-align: center;
  font-weight: normal;
  padding: 0;
}
#doodle::first-letter {
  font-size: 87%;
}

#page {
  max-width: 50em;
  margin:auto;
}
.help {
  font-weight: bold;
  font-family: sans-serif;
  font-size: 90%;
  color: #A9A9A9;
}
#postzone {
  margin-top:1em;
  margin-bottom: 2em;
}

#plotzone svg path, #plotzone svg rect  {
  cursor: pointer;
}
#postzone h2 {
  margin:0;
  padding: 0;
  margin-bottom: 0.6em;
  margin-top: 1.2em;
}
.post {
  margin-bottom: 0.6em;
}
.post h3 {
  margin:0;
}
.post h3 a {
  text-decoration: none;
  color: black;
  font-size: 80%;
  margin-left: 1.2em;
  cursor:pointer;
  font-weight: normal;
}
.post h3 a:hover{
  color: #ff9900;
}
.post div {
  margin-left:1.2em;
  margin-right:5em;

}
