body {
  margin-left: 3em;
  margin-right: 3em;
  margin-top: 1em;
  font-family: serif;
}
svg:not(:root) {
  overflow: visible;

}
#doodle {
  font-size: 150px;
  font-family: 'Permanent Marker', cursive;
  margin:0;
  text-align: center;
  font-weight: normal;
  padding: 0;
  line-height: 100%;
}
#doodle::first-letter {
  font-size: 87%;
}

#page {
  max-width: 50em;
  margin:auto;
}
.help {
  font-weight: bold;
  font-family: sans-serif;
  font-size: 90%;
  color: #A9A9A9;
}
form {
  width: 100%;
}
#postzone {
  margin:0;
  padding:0;
  max-height: 300px;
  overflow-y: scroll;
}

#plotzone svg path, #plotzone svg rect  {
  cursor: pointer;
}
#postzone h2 {
  margin:0;
  padding: 0;
  margin-bottom: 0.2em;
  margin-top: 0.4em;
}
.post {
  margin-bottom: 0.2em;
}
.post h3 {
  margin:0;
}
.post h3 a {
  text-decoration: none;
  color: black;
  font-size: 80%;
  margin-left: 1.2em;
  cursor:pointer;
  font-weight: normal;
}
.post h3 a:hover{
  color: #ff9900;
}
.post div {
  margin-left:1.1em;
  margin-right:5em;
}
.close {
  text-decoration: none;
  color:#A9A9A9;
  padding-left: .5em;
  font-size:75%;
  font-family: sans-serif;
}
.close:hover {
  text-decoration: none;
  color:#de2d26;
}
