
/*  wrapper */
.wrap {
	position: relative;
	/*margin: 5px;*/
	margin-top:.8em;
	font-size: 90%
}

/* Frame */
.frame {
	margin-top:.8em;
	margin-bottom:.8em;
}
.frame ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.frame ul li {
	float: left;
	margin: 0;
	padding:0;
}

/*
.frame ul li.active {
	color: #fff;
	background: #a03232;
} */


.frame ul li h3 {
	padding:0;
	margin:0;
	padding-bottom: .4em;
}
.frame ul li p  {
	position:relative;
	padding:0;
	margin: 0;
}
.frame ul li p span { /* mot */
	padding: 0;

	margin-right: 9px;
	white-space: nowrap;
	position : absolute;
	line-height: 95%;
	cursor: pointer;
}
.frame ul li p span:hover {
	color: #f03b20;
}


/* Scrollbar */
.scrollbar {
	margin: 0;
	height: .4em;
	background: #cdcdcd;
	line-height: 0;
	border: solid #9E9E9E 1px;
	/*position:absolute;
	bottom:0;*/
	width:100%;
}
.scrollbar .handle {
	width: 50px;
	height: 100%;
	background: #9E9E9E;
	cursor: pointer;
}
.scrollbar .handle .mousearea {
	position: absolute;
	top: -9px;
	left: 0;
	width: 100%;
	/*height: 50px;*/
}
.scrollbar .handle:hover {
	background-color: #3E3E3E;
}
