alembic==0.8.5
eleve==15.10.post2
feedparser==5.2.1
Flask==0.10.1
gunicorn==19.6.0
hashids==1.1.0
itsdangerous==0.24
Jinja2==2.8
Mako==1.0.4
MarkupSafe==0.23
normality==0.2.4
plyvel==0.9
python-dateutil==2.5.2
python-editor==1.0
pytz==2016.3
PyYAML==3.11
six==1.10.0
SQLAlchemy==1.0.12
Werkzeug==0.11.5
