<!doctype html>
<html lang="fr" xml:lang="fr" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>navigate posts</title>


<link rel="stylesheet" href="{{ url_for('static', filename='ngramviewer.css')}}" />

<!-- <link rel="stylesheet" href="{{ url_for('static', filename='lib/marcopolo.css')}}" /> -->
<link rel="stylesheet" href="{{ url_for('static', filename='lib/manifest.css')}}" />

<link rel="stylesheet" href="{{ url_for('static', filename='lib/metricsgraphics.css')}}" />


</head>
<body>



  <div id='plotzone'></div>
  <form>
    <input type="text" name="ngram" id="ngraminput" placeholder="✚">
   <img src="{{ url_for('static', filename='busy.gif')}}">
  </form>

 <div id='postzone'></div>


<script type="text/javascript">
  //var $SCRIPT_ROOT = "{{ request.script_root|tojson|safe }}";
  var urlfor_getNgrams = "{{ url_for('getNgrams') }}";
  var urlfor_getFreqs = "{{ url_for('getFreqs') }}";
  var urlfor_getSomePosts = "{{ url_for('getSomePosts') }}";
</script>



<!-- <script type="text/javascript"
  src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script> -->

  <script type="text/javascript"
    src="{{ url_for('static', filename='lib/jquery-1.11.3.min.js')}}"></script>
<script type="text/javascript"
  src="{{ url_for('static', filename='lib/jquery.marcopolo.min.js')}}"></script>
  <script type="text/javascript"
    src="{{ url_for('static', filename='lib/jquery.manifest.js')}}"></script>
    <script type="text/javascript"
      src="{{ url_for('static', filename='lib/moment-with-locales.min.js')}}"></script>

  <script type="text/javascript"
    src="{{ url_for('static', filename='lib/d3.v3.min.js')}}"></script>
    <script type="text/javascript"
      src="{{ url_for('static', filename='lib/metricsgraphics.min.js')}}"></script>

      <script type="text/javascript"
      src="{{ url_for('static', filename='ngramviewer.js')}}"></script>

  <!-- {% if ngram %}
    <script type="text/javascript">
      var ngram = "{{ngram}}";
      navposts.query(ngram);
      //$("#ngraminput").val( ngram );
    </script>
  {% endif %} -->


</body>
</html>
