<html>
<div id="chartContainer" >

	<script src="http://d3js.org/d3.v3.min.js"></script>
  <script src="http://dimplejs.org/dist/dimple.v2.2.0.min.js"></script>

	<h1> {{ngram}} </h1>

  <script type="text/javascript">
    var svg = dimple.newSvg("#chartContainer", 900, 250);
    d3.json("/data/{{ngram}}", function (data) {
			console.log(data)
      var myChart = new dimple.chart(svg, data.data);
      myChart.setBounds(60, 40, 900-120, 250-100);
			var x = myChart.addCategoryAxis("x", "date", "%Y-%m-%d", "%d-%B");
			x.addOrderRule("date");

      myChart.addMeasureAxis("y", "freq");
      var s = myChart.addSeries('ngram', dimple.plot.bar);
      s.lineWeight =  2;
      //myChart.addLegend(60, 10, 500, 20, "right");
      myChart.draw();

    });
  </script>


</div>
</html>
