<!doctype html>
<html>
<head>
<title>see posts</title>
<script type="text/javascript"
  src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>

<script src="{{ url_for('static', filename='lib/jquery.ui.widget.min.js')}}"></script>
<script src="{{ url_for('static', filename='lib/jquery.marcopolo.min.js')}}"></script>


<link rel="stylesheet" href="{{ url_for('static', filename='posts.css')}}" />
<link rel="stylesheet" href="{{ url_for('static', filename='lib/marcopolo.css')}}" />

<script type="text/javascript">
  var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>


<script type=text/javascript>
  $(function() {

    $('#ngraminput').marcoPolo({
      url: "{{ url_for('getNgrams')}}",
      formatItem: function (data, $item) {
        return data.ngram;
      },
      onSelect: function (data, $item) {
        this.val(data.ngram);
        this.blur()
        queryPosts(data.ngram);
      },
      formatData: function (data) {
        return data.data;
      },
      minChars: 2,
      required: true
    });

    function queryPosts( ngram ) {
      $.getJSON($SCRIPT_ROOT + '/post/_getposts', { ngram: ngram  }, printPost );
    }

  });

  function printPost(data){

    var $result =  $('#result');
    $result.empty();
    if ( data.posts.length > 0 ) {
      $.each( data.posts, function(i, d){

          $result.append(
            $('<p />')
              .text( '('+d['source']+')  ' + d['summary'] )
              .prepend(
                $('<h3 />')
                  .text( d['date'] +' - '+  d['title'] )
                  .css( {margin:0})
              )
          );
      })
    } else { $result.append( $('<p />').text('no results for '+data.ngram+'...') );  }
  };
</script>
</head>
<body>

<div class='myform'>
<form  method="get" class="marco">
  <input type="text" name="ngram" id="ngraminput">
  <img src="{{ url_for('static', filename='busy.gif')}}">
</form>
</div>

<div id='result'>...</div>


</body>
</html>
