<!doctype html>
<html>
<head>
<title>navigate posts</title>


<link rel="stylesheet" href="{{ url_for('static', filename='navigateposts.css')}}" />
<link rel="stylesheet" href="{{ url_for('static', filename='lib/marcopolo.css')}}" />




</head>
<body>


<form  method="get" class="marco">
  <input type="text" name="ngram" id="ngraminput">
  <img src="{{ url_for('static', filename='busy.gif')}}">
</form>


<div id='result'>...</div>

<script type="text/javascript">
  //var $SCRIPT_ROOT = "{{ request.script_root|tojson|safe }}";
  var urlfor_getNgrams = "{{ url_for('getNgrams') }}";
  var urlfor_getPosts = "{{ url_for('getPosts') }}";
  console.log( urlfor_getNgrams );
</script>

<script type="text/javascript"
  src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script type="text/javascript"
  src="{{ url_for('static', filename='lib/jquery.marcopolo.min.js')}}"></script>
<script type="text/javascript"
  src="{{ url_for('static', filename='navigateposts.js')}}"></script>


</body>
</html>
