<!DOCTYPE html>
<html class=" js csstransforms csstransforms3d preserve3d" lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>LMdJx</title>
	<meta name="viewport" content="width=device-width">

	<link rel="stylesheet" href="{{ url_for('static', filename='lib/normalize.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='wordspack.css')}}">

	<link href='https://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="{{ url_for('static', filename='lib/manifest.css')}}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='lib/metricsgraphics.css')}}" />

	<link rel="stylesheet" href="{{ url_for('static', filename='ngramviewer.css')}}" />
</head>
<body>
<div id='page'>
	<a href='/'>retour</a>
	<h1>Stats</h1>
	<div id='plotstats'></div>

	<ul>

	<li> nombre de posts: {{nPosts}} </li>
	<li> nombre de ngram non-unique: {{nNgramsNonUnique}}</li>
	<li> nombre de ngram unique: {{nNgramsUnique}}</li>

</div>


<script type="text/javascript">

	var urlfor_nPostsByDay = "{{ url_for('nPostsByDay') }}";

</script>

<script type="text/javascript"
	src="{{ url_for('static', filename='lib/jquery-1.11.3.min.js')}}"></script>


<script type="text/javascript"
src="{{ url_for('static', filename='lib/moment-with-locales.min.js')}}"></script>

<script type="text/javascript"
  src="{{ url_for('static', filename='lib/d3.v3.min.js')}}"></script>
<script type="text/javascript"
  src="{{ url_for('static', filename='lib/metricsgraphics.min.js')}}"></script>
	<script type="text/javascript"
	  src="{{ url_for('static', filename='stats.js')}}"></script>

</body></html>
